.App {
  background-color: #8db2c4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #212427;
}

h1 {
  margin: 50px 0;
}

.ConnectBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0;
}

.App-Section {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Messages {
  margin: 30px;
}
